// Utils
@import 'utils/variables';
@import 'utils/mixins';

// Fonts
@import 'fonts/stylesheet.css';

// Reboot
@import 'utils/reboot';

// Vendors
@import '/node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'vendor/mq';
@import '/node_modules/sal.js/dist/sal.css';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/hero';
@import 'components/cta';
@import 'components/service';
@import 'components/proof';
@import 'components/media';
@import 'components/portfolio';

.sr-only {
    border: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    float: left;
}

.container {
    padding-left: 40px;
    padding-right: 40px;

    @include mq($from: 1440px) {
        padding-left: 140px;
        padding-right: 140px;
        max-width: 1920px;
    }

    @include mq($until: lg) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 900;
}

// Typography
h1 {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    // margin-bottom: 15px;

    @include mq($from: md) {
        font-size: 48px;
        // margin-bottom: 24px;
    }

    @include mq($from: xl) {
        font-size: 78px;
        // margin-bottom: 40px;
    }

    span {
        color: $black;
        position: relative;
        z-index: 2;

        &::before {
            position: absolute;
            z-index: -1;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/src/assets/images/icons/underline.svg');
            background-size: contain;
            background-repeat: no-repeat;
            transform: translateY(85%);
        }

        &.underline-straight {
            &::before {
                transform: rotate(2deg) translateY(85%);
            }
        }
    }
}

h2 {
    font-size: 23px;
    line-height: 1.2;
    margin-bottom: 15px;

    @include mq($from: md) {
        font-size: 31px;
    }

    @include mq($from: xl) {
        font-size: 62px;
    }
}

h3 {
    font-size: 20px;

    @include mq($from: md) {
        font-size: 23px;
    }

    @include mq($from: xl) {
        font-size: 32px;
        line-height: 1.2
    }
}

h4 {
    font-size: 18px;

    @include mq($from: md) {
        font-size: 20px;
    }

    @include mq($from: xl) {
        font-size: 22px;
    }
}

body {
    overflow-x: hidden;
}


.image-wrapper {
    overflow: hidden;
    position: relative;

    img {
        @include img-ratio();
    }
}

.section {
    padding-bottom: 100px;
    padding-top: 100px;

    &--tight {
        padding-top: 0;
    }

    @include mq($until: lg) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}