.cta {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 3;
    min-height: 920px;

    &__image {
        position: absolute;
        bottom: 0;
    }

    &__wrapper {

        .row {
            align-items: center;
        }
    }

    &__content {
        position: relative;
        z-index: 3;

        h2 {
            font-size: 82px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -0.01em;
            margin-bottom: 60px;

            span {
                color: $primary;
            }
        }

        a {
            font-size: 30px;
            font-weight: 900;
        }

    }
}