.cta {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 3;
    min-height: 920px;

    @include mq($until: lg) {
        min-height: 620px;
        align-items: flex-start
    }

    @include mq($until: lg, $and: false, $from: md) {
        text-align: center;
    }

    &__image {
        position: absolute;
        bottom: 0;

        @include mq($until: 1500px, $and: false, $from: lg) {
            max-width: 800px;
        }

        @include mq($until: lg, $and: false, $from: 420px) {
            max-width: 620px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__wrapper {
        .row {
            align-items: center;
        }
    }

    &__content {
        position: relative;
        z-index: 3;

        h2 {
            font-size: 82px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: -0.01em;
            margin-bottom: 60px;

            span {
                color: $primary;
            }
        }

        a {
            font-size: 30px;
            font-weight: 900;
        }

        @include mq($until: 1500px, $and: false, $from: lg) {
            h2 {
                font-size: 72px;
            }
        }

        @include mq($until: lg) {
            h2 {
                font-size: 40px;
                margin-bottom: 30px;
            }

            a {
                font-size: 18px;
            }
        }
    }
}