.footer {
    background-color: #ffd350;
    position: relative;
    z-index: 3;

    &__wrapper {
        padding-top: 80px;
        padding-bottom: 80px;

        &.container {
            padding-left: 0;
            padding-right: 0;
        }

        .row {
            align-items: center;
        }

        @include mq($until: lg) {
            padding-top: 30px;
            padding-bottom: 30px;

            &.container {
                padding-left: 20;
                padding-right: 20;
            }
        }
    }

    &__address {
        font-weight: 700;

        p {
            font-size: 18px;
        }

        @include mq($until: lg) {
            margin-bottom: 12px;

            p {
                font-size: 16px;
            }
        }
    }

    &__icon {
        li {
            display: flex;
            align-items: flex-start;
            font-weight: 700;
            font-size: 16px;

            img {
                margin-top: 2px;
                width: 24px;
                height: auto;
                object-fit: contain;
                margin-right: 10px;
            }

            p {
                font-weight: 600;
            }

        }

        @include mq($until: 1500px) {
            li {
                font-size: 14px;

                a {
                    overflow-wrap: anywhere;
                }
            }
        }
    }
}